/* Colors */
:root {
  --primary-color: #8C5C5C;
  --secondary-color: #d4af37;
  --text-color: #333;
}
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: var(--font-primary);
}

p, li{
  font-size: 16px;
}

h2{
  font-size: 32px;
  color: var(--text-color);
}

h3{
  font-size: 25px;
  color: var(--text-color);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3; 
    color: #333;
}

/* Header Styles */
  header {
    background-color: var(--primary-color); 
    color: #fff;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color); 
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-info a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .contact-info a i {
    margin-right: 5px;
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }

  .social-links a i {
    font-size: 20px;
  }
/* Naviagtion bar */

.same-bg {
  background: url('../images/hero-bg.png') no-repeat center center;
  height: 100vh;
  background-size: cover;
}

.same-bg .nav-container {
    position: fixed; /* Fixes the header to the top of the viewport */
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ddd; 
    z-index: 1000; 
    transition: background 0.3s ease;
  }
  .nav-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000; 
  }

  #header-diff {
    background: transparent;
  }


  .sticked-header-offset {
    margin-top: 70px;
  }

  .sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }

  .logo {
    max-height: 40px; 
    margin-right: 6px; 
    padding-left: 10px; 
    transform: scale(2.3);
  }

  .nav-menu {
    flex: 1;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
  }

  .nav-links li {
    margin-left: 20px;
  }

  .nav-links li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }


.nav-links li a i {
  margin-right: 5px;
}

.nav-links .dropdown {
  position: relative;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 10px 10px;
  top: 100%;
  left: 0;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.nav-links .dropdown-content li {
  margin: 0;
}

.nav-links .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.nav-links .dropdown-content a:hover {
  color: var(--secondary-color);
}

.nav-links li a.active {
  color: var(--secondary-color);
  font-weight: bold;
}

.nav-links li a:hover,
.nav-links .dropdown:hover > a {
  color: var(--secondary-color);
}

.nav-links .dropdown > a::after {
  content: ' ▼';
  font-size: 0.7em;
  vertical-align: middle;
  margin-left: 5px;
}

.nav-links li a.active,
.nav-links .dropdown.active > a {
  color: var(--secondary-color);
  font-weight: bold;
}

.nav-links .dropdown-content a.active {
  color: var(--secondary-color);
  font-weight: bold;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* #logo-anim {
  height: 70px;
  transform: scale(1.5);
} */





/* Responsive Styles */

@media (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  .clas1 {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: none; /* Hide nav menu by default on small screens */
    width: 60%;
  }

  .nav-menu.active {
    display: flex; /* Show nav menu when active */
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    width: 60%;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-links li a {
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }

  .nav-links .dropdown-content {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }

  .nav-links .dropdown > a::after {
    display: none; /* Hide dropdown arrow on mobile */
  }

  .menu-toggle {
    display: block;
    align-items: self-end; /* Show menu toggle button on small screens */
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 92, 92, 0.5); /* Semi-transparent black */
    z-index: -1; /* Make sure it appears above other content */
    display: none; /* Hidden by default */
}

/* Show the overlay when active */
.overlay.active {
    display: block;
}

/* Make sure the nav-menu appears above the overlay */
.nav-menu {
    position: relative;
    z-index: 1001;
    display: none; /* Initially hidden */
}

.nav-menu.active {
    display: block;
}
}


@media (max-width: 480px) {
  .topbar {
    padding: 5px;
  }

  .nav-container {
    padding: 5px;
  }

  .nav-links li a {
    padding: 8px;
  }
}

.section1 {
  background-color: #F3F3F3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section2 {
  background-color: #f1ece4;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sections {
  align-items: center;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.noContainer {
  padding: 10px;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bolder;
}

  /* Hero Section */
  #hero {
    color: #F3F3F3;
    height: 100vh;
    font-size: 30px;
    padding-top: 40vh;
  }

  #hero p {
    font-size: 30px;
  }

  .read-more {
    text-align: center;
    margin-top: 20px;
  }

  .cta-button {
    background-color: #008374; 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
  }

  .cta-button:hover, .social-links a:hover, .contact-info a:hover {
    color: var(--secondary-color);
  }

  /* Home page Styles */

h1{
  color:var(--text-color);
}
h2 {
  color: var(--text-color);
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 30px;
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}


/* Style for the boxes */

.section1 h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.approach-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 300px;
    max-width: 300px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 450px;
    overflow: auto;
    flex-grow: 1;
}

.box-header h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.box-header img.icns {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.box-body ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.box-body ul li {
    margin-bottom: 15px;
}

.box-body ul li span {
    font-weight: bold;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.txt .sections{
  height: 300px;
  overflow: auto;
  justify-content: center;
  text-align: center;
}


.pic-bag {
  position: absolute; /* Allows the image to be positioned relative to the .box container */
  top: -35px; /* Adjust this value to control how much the image overlaps the border */
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  font-size: 20px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Optional: background color to make it stand out */
  border-radius: 50%; /* Makes the image container circular */
  border: solid var(--secondary-color) 1px; /* Match the border of the box */
  line-height: 0;
}


.card {
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 100%;
  border-radius: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.rvms-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.texts ul{
  list-style-type: none;
}

.texts span{
  font-weight: 700;
  color: var(--primary-color);
}

.key-facts ul {
  list-style-type: none;
}

.key-facts span{
  font-weight: 700;
  color: #008374;
}

.key-facts .bigsection {
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.key-facts .sections {
  background-color: #F3F3F3;
}

.key-facts h3 {
  color: #F3F3F3;
}

li {
  text-align: justify;
}

.why .card-body {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.why h3 {
  color: white;
}

.sectors .card-body {
  background-color: #f8f9fa;
}

.sectors .card-title {
  color: #008374;
  margin-bottom: 15px;
}
.sectors .card-title i {
  margin-right: 10px;
}
.sectors ul {
  list-style-type: circle;
  padding-left: 20px;
}
.sectors ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.data-tracking {
  background-color: white;
  color: var(--text-color);
  margin: 50px;
}

.data-tracking h2 {
  color: var(--text-color);
  border-bottom-color: #fff;
}

.ctrl-txt {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.ctrl-img {
  text-align: center;
}
 
/*Projects Style */


/*Partner style*/
.partner-form {
  background-color: var(--primary-color);
  margin: 30px;
  padding: 30px;
}
.submit-btn {
  background-color: #008374;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}

.error {
  color: red;
}

.main-error {
  font-weight: bold;
}

.sent-message {
  color: green;
}

/*RVMS style*/
.bg-primary-custom {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 20px;
}
#align-p .card-body {
  height: 220px; /* Reduced from 250px */
  display: flex;
  flex-direction: column;
}

#align-p  .card-title {
  height: 50px; 
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#align-p  .card-text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start; 
  margin-bottom: 0; 
}
.card {
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card h3{
  color: #008374;
}

.bg-primary-custom h2 {
  color: white;
  border-bottom: none; 
  padding-bottom: 0;
}
.bg-primary-custom .card-title,
.bg-primary-custom .card-text {
  color:var(--text-color);
}
.rvms-image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 100%; 
  margin-bottom: 20px;
  height: 50px;
}

.container.mt-5.fade-in {
  background-color: #ffffff; 
  padding: 30px; 
  border-radius: 15px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.text-justify {
  text-align: justify; 
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.card-style .card {
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-style .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.bg-primary-custom .btn-primary {
  background-color: #008374;
  border-color: #008374;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  align-self: flex-start;
}

.bg-primary-custom .btn-primary:hover {
  background-color: #d4af37;
  border-color: #d4af37;
}

/* Scroll Animation Styles */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.6s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* about page styles */
/* programs page styles */

.mini-title{
  font-weight: 700;
  color: var(--primary-color);
}

.researchers {
  background-color: var(--primary-color);
}

.operational {
  background-color: var(--primary-color);
}

.program{
  background-color: var(--primary-color);
}

.digitalization-member .card{
  background-color: whitesmoke;
}

.custom-vertical-line {
  position: relative;
  padding-left: 20px; 
}

.custom-vertical-line::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: 20px;
  width: 5px; 
  height: 70%; 
  background-color: var(--primary-color); 
  transform: translateY(-50%); 
}

.primary-section{
  background-color: var(--primary-color);
}

.horizontal-line {
  border: none;
  height: 5px; 
  background-color: var(--primary-color);
  margin: 30px 0; 
}



#about-nav .custom-nav-link{
    color: var(--primary-color) !important;
}

#about-nav .custom-nav-link:hover{
  color: var(--secondary-color) !important;
}


#about-nav .custom-nav-link.custom-nav-link-active{
  color: var(--secondary-color)!important;
}

.about .sections {
  align-items: center;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.partner-logos img{
  max-width: 180px;
  max-height: 30px;
  transition: filter 0.3s ease;
}

.About-section h2 {
  position: relative;
}


.About-section h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #008374;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

 
/* coming soon */
.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; 
  width: 100%;
  top: 0;
  left: 0;
}

.coming-soon h1 {
  font-size: 48px; 
  color: var(--text-color); 
  font-weight: bold;
}
/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 50px 0 20px;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.footer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.footer p {
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.footer .social-links a:hover {
  background-color: var(--secondary-color);
}

.copyright {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.footer .logo-container {
  position: absolute;
  left: 20px;
  top: 30%; 
  transform: translateY(-50%); 
  display: flex;
  align-items: center;
}

.footer .logo img {
  max-width: 50px;  
  height: auto;
  margin-bottom: 0;
}

.footer .logo-text {
  text-align: left;
  margin-left: 10px; 
  margin-top: 0;
}

@media (max-width: 768px) {
  .footer .logo-container {
    position: static; 
    transform: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer .logo-text {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
}
.footer .social-text {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.footer .social-text p {
  margin: 0;
  font-weight: bold; 
}

.footer .social-links {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

@media (max-width: 768px) {
  .footer .social-text {
      text-align: center;
      margin-top: 10px;
  }
}
.footer .copyright p {
  margin: 0;
  font-size: 14px;
  color: #fff; 
  text-align: center; 
}
.footer .credits a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .credits a:hover {
  color: var(--secondary-color); 
}






